
.idea/

human_body_prior.egg-info/


support_data/downloads/models/smplh/*

support_data/downloads/models/smplx/*

*.ipynb_checkpoints/

*__pycache__/

*.pyc

support_data/downloads/vposer_v2_05/*
support_data/downloads/vposer_v1_0/*
